.news-row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    gap: 16px;
}

.news-card{
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto;
    gap: 16px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.news-card .image{
    overflow: hidden;
    border-radius: 4px;
}

.news-card img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.news-card .content{
    max-width: 500px;
    display: grid;
    gap: 8px;
}

.news-card .news-text{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-card .news-heading{
    font-size: 24px;
    font-weight: bold;
}

.read-more{
    appearance: none;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s ease;
}

.read-more::before{
    content: "Read more";
}

.read-more:hover{
    opacity: 0.9;
}

.news-card:has(.read-more:focus) .news-text{
    -webkit-line-clamp: unset;
    max-height: 130px;
    overflow-y: auto;
}

.read-more:focus::before{
    content: "Close";
}

.btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: end;
    height: fit-content;
}

.delete{
    background: tomato;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s ease;
    font-size: 13px;
}

@media screen and (max-width: 600px){
    .news-row{
        grid-template-columns: 1fr;
    }

    .news-card{
        grid-template-columns: auto;
    }
}